/* Empty. Add your own CSS if you like */
.slider { height: 100%; text-align: center }

.scroll { height: 100%; }

.slider-slide {
   height: 100%;
/*  padding-top: 20px; 
  color: #000;
  background-color: #aaa;
*/

  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
}

.scroll .scrollable {
	padding: 1em 1em 1em 1em;
	height:100%;
	overflow: auto; 
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pink {
  background-color: pink;
}


.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}
 
.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
