/* Empty. Add your own CSS if you like */
.slider {
  height: 100%;
}
.slider-slide {
  height: 100%;
  padding-top: 80px;
  color: #000;
  background-color: #aaa;

  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pink {
  background-color: pink;
}